<div class="image">
        <div class="row">
                <div class="col-3">
                        <div class="sidebar-container">
                            <div class="sidebar-img">
                                <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/05/GettyImages-1144499197-620x394.jpg" style="width: 140px; height: 140px; 
                                border-radius: 50%; margin-left: 27px; margin-top: 3px;">
                              </div>
                        <div class="sidebar-logo">
                          Admin-{{admin}}
                        </div>
                        <ul class="sidebar-navigation">
                          
                          <li class="header">DashBoard</li>
                          <li><a [routerLink]="['/adminhome']">
                                <i class="fa fa-home" aria-hidden="true"></i> Home
                                </a>
                            </li>
                            <li>
                              <a  [routerLink]="['/projectService/add']">
                                <i class="fa fa-home" aria-hidden="true"></i> Add-Project
                              </a>
                            </li>
                          <li>
                            <a  [routerLink]="['/projectService/view']">
                              <i class="fa fa-home" aria-hidden="true"></i> Project-List
                          </a>
                          </li>
                          <li>
                            <a [routerLink]="['/userService/add']">
                              <i class="fa fa-tachometer" aria-hidden="true"></i>Add-User
                            </a>
                          </li>
                          
                          <li>
                            <a [routerLink]="['/userService/view']">
                              <i class="fa fa-users" aria-hidden="true"></i>User-List
                            </a>
                          </li>
                            <li>
                                <a [routerLink]="['/home']">
                                  <i class="fa fa-users" aria-hidden="true"></i>LogOut
                                </a>
                              </li>
                        </ul>
                        </div>
                        </div>
        
        <div class="col-9">
            <div class="row">
              <br>
              <br>
            </div>
            <div class="row">
        <table class="table table-hover table-striped ">
        <thead class="table text-white bg-dark">
        <tr >
            <th>Project-Name</th>
            <th>Project-Manager</th>
            <th>Project-Location</th>
            <th>Start-Date</th>
            <th>End-Date</th>
            <th>View-Team</th>
            <th>Update</th>
            <th>Remove</th>
            
        </tr>
        </thead>
        <tbody class="table table-light">
            <tr *ngFor="let p of projects">   
                <td>{{p.pname}}</td>
                <td>{{p.pmanagerEmail}}</td>
                <td>{{p.plocation}}</td>
                <td>{{p.start_date}}</td>
                <td>{{p.end_date}}</td>
                <td><button class="btn btn-success btn-lg" (click)="team(p.projectId)">View-Team</button></td>
                <td><button class="btn btn-warning btn-lg" id="update" (click)="updateForm(p.projectId)">Update</button>
                </td>
                <td><button class="btn btn-danger btn-lg" (click)="delete(p.projectId)">Delete</button></td>
      
            </tr>
        </tbody>
        </table>
      </div>   
        </div>
        </div>
        </div>

        <div class="modaldetails">
        <button type="button"  id="toggle" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" style="display: none">
          </button>


          <!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update-Project</h5>
          <button type="button" id="cross" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #registerForm="ngForm" (submit)="update()" validate>
                <div class=" row form-group">
                    <div class="col-5">
                    <input type="text" readonly class="form-control text-dark" name="pname" [(ngModel)]="project.pname" placeholder="Enter Project Name" /><br />
                </div>
                <div class="col-5 ">
                    <input type="text" class="form-control text-dark" name="plocation" [(ngModel)]="project.plocation" placeholder="Enter Project Location" /><br />
                </div>
                </div>
                <div class="row form-group ">
                    <div class="col-5">
                    <input type="text" class="form-control text-dark" name="start_date" [(ngModel)]="project.start_date" placeholder="Enter Start Date" /><br />
                </div>
                <div class="col-5">
                    <input type="text" class="form-control text-dark" name="end_date" [(ngModel)]="project.end_date" placeholder="Enter End Date" /><br />
                </div>
                </div>
                <div class=" row form-group">
                    <div class="col-5">
                        <input type="text" class="form-control text-dark" readonly name="pmanagerEmail" [(ngModel)]="project.pmanagerEmail" placeholder="Email" /><br />
                    </div>
                </div>

                <input type="submit" class="btn btn-danger btn-lg" value="Add Project" />

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="updateclose" class="btn btn-secondary" data-dismiss="modal" style="display: none">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- teams modal -->
<button type="button"  id="teamtoggle" class="btn btn-primary" data-toggle="modal" data-target="#teamModal" style="display: none"> </button>
 <!-- team - body -->
 <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Teams in Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer">
          <button type="button"id="teamclose" class="btn btn-secondary" data-dismiss="modal" style="display: none">Close</button>
         
        </div>
      </div>
    </div>
  </div>
