
.image{
    background: url('https://s3.envato.com/files/189936986/preview%20image%20set/01-background.jpg') no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1670px 550px;
    width: 100%;
    height: 650px;
}
.l1{
 float: right;
}
.l2{
  float: right;
}

  
  .content-container {
    padding-left: 220px;
  }