<div class="image">
        <header>
                <nav class="navbar navbar-dark bg-dark  navbar-expand-lg">
                  <ul class="navbar-nav mr-auto">
                   
                    <li class="nav-item active">
                        <a class="nav-link l1" [routerLink]="['/login']">LogIn</a>
                      </li>
                   
                        <li class="nav-item  active">
                            <a class="nav-link l2" [routerLink]="['/home']">AboutUs</a>
                          </li>
                  </ul>
                </nav>
        </header>
</div>