<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<router-outlet>
  <div style="padding-left: 45%; padding-top: 2%;">
  <nav>
    <button class="btn btn-primary text-white"><a [routerLink]="['/project/show']" class="text-white">show</a></button> &nbsp; &nbsp; &nbsp;
    <button class="btn btn-success text-white" ><a [routerLink]="['/project/add']" class="text-white">Add</a></button> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/project/modify']"></a>
    <a [routerLink]="['/aboutus','11']"></a>
  </nav>
</div>
</router-outlet>
