<div class="image">
        <div class="row">
          <div class="col-3">
          <div class="sidebar-container">
              <div class="sidebar-img">
                  <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/05/GettyImages-1144499197-620x394.jpg" style="width: 140px; height: 140px; 
                  border-radius: 50%; margin-left: 27px; margin-top: 3px;">
                </div>
          <div class="sidebar-logo">
            Admin_Name
          </div>
          <ul class="sidebar-navigation">
            
            <li class="header">DashBoard</li>
            <li><a>
                  <i class="fa fa-home" aria-hidden="true"></i> Home
                  </a>
              </li>
              <li>
                <a  [routerLink]="['/projectService/add']">
                  <i class="fa fa-home" aria-hidden="true"></i> Add-Project
                </a>
              </li>
            <li>
              <a  [routerLink]="['/projectService/view']">
                <i class="fa fa-home" aria-hidden="true"></i> Project-List
            </a>
            </li>
            <li>
              <a [routerLink]="['/userService/add']">
                <i class="fa fa-tachometer" aria-hidden="true"></i>Add-User
              </a>
            </li>
            
            <li>
              <a [routerLink]="['/userService/view']">
                <i class="fa fa-users" aria-hidden="true"></i>User-List
              </a>
            </li>
            <li>
                <a [routerLink]="['/updateprofile']">
                  <i class="fa fa-users" aria-hidden="true"></i>Update_Profile
                </a>
              </li>
              <li>
                  <a [routerLink]="['/home']">
                    <i class="fa fa-users" aria-hidden="true"></i>LogOut
                  </a>
                </li>
          </ul>
          </div>
          </div>
        </div>
        
        <div class="signupForm">
        <div class="card">
            <div class="card-header">
                <h3 class="text-success">Add-User</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="newSignUpForm" (ngSubmit)="submit()" novalidate>
               
                    <div class="row">
                      <div class="col-md-6">
                      <label for="name" class="text-white">Name</label>
                        <input formControlName="name" id="name" class="form-control" placeholder="Name">
                      </div>
                      <div class=" col-md-6">
                      <label for="city" class="text-white">City</label>
                        <input  formControlName="location" id="city" class="form-control" placeholder="City">
                      </div>
                    </div>
                    <div class="row">
                   <div class=" col-md-6">
                  <label for="age" class="text-white">Age</label>
                  <input formControlName="age" id="age" class="form-control " placeholder="Age" />
                  </div>
                  <div class=" col-md-6">
                  <label for="domain" class="text-white">Domain</label>
                  <input formControlName="domain" id="domain" class="form-control " placeholder="Domain" />
                  </div>
                  </div>
                  
                   <div class="row">
                      <div class="col-md-6">
                        <label for="inputEmail4" class="text-white">Email</label>
                        <input  formControlName="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class=" col-md-6">
                        <label for="inputPassword4" class="text-white">Password</label>
                        <input type="password" formControlName="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                    </div>
                  <input type="submit" class="btn btn-success btn-lg" value="Add-User" />
                  
        
        </form>
        </div>
        </div>
        </div>
            
