.image{
   background-attachment: relative;
    width: 100%;
    height: 900px;
}
.sidebar-img{
  width: 100px;
  height: 150px;
  
}
.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: rgb(209, 30, 39);
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .col-9{
    margin-left: 290px;
    margin-top: 40px;
    width: 100%;
    height: 600px;
    
  }
  .col-6{
    margin-top: 40px;
    background-color: #fff;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
  }
  .col-5{
    margin-top: 40px;
    background-color: rgb(233, 235, 223);
    background-attachment: fixed;
    width: 100%;
    height: 300px;
  }
  .col-8{
    background-color: azure;
    background-attachment: fixed;
    margin-top: 70px;
    margin-left: 150px;
    width: 100%;
    height: 450px;
  }
.c1{
  opacity: 0.8;
  background-color: rgb(255, 238, 0);
  width: 100%;
  height: 140px;
  margin-left: 80px;
  margin-top: 70px;
}
canvas{
  margin-top: 10px;
}
h4{
  margin-top: 10px;
}
.c2{
  opacity: 0.8;
  background-color: rgb(194, 173, 178);
  width: 100%;
  height: 140px;
  margin-left: 40px;
  margin-top: 70px;
}
.c3{
  opacity: 0.8;
  background-color: rgb(0, 255, 13);
  width: 70px;
  height: 140px;
  margin-left: 75px;
  margin-top: 70px;
}
.c4{
  opacity: 0.8;
  background-color: rgb(255, 0, 64);
  width: 100%;
  height: 140px;
  margin-left: 45px;
  margin-top: 70px;
}