<p>______________________________________________________________________________________________________________________________________________________________</p>
<br>
<br>
<br>
<p>_______________________________________________________________________________________________________________________________________________________________</p>

<br>
<br>
<br>
<form  #modifyForm="ngForm"  (submit)="modifyProject()" >
    <input type="number" placeholder="Project ID"    name="Pid"      [(ngModel)]="proj.Pid" readonly /><br>
    <input type="text"   placeholder="Project Name"  name="Pname"     [(ngModel)]="proj.Pname" /><br>
    <input type="submit" value="Modify" />
</form>

<br>
<br>
<p>________________________________________________________________________________________________________________________________________________________________</p>

