<div class="image">
    <div class="row">
        <div class="col-3">
                <div class="sidebar-container">
                    <div class="sidebar-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/ringtone-music-instruments/512/letter-u-key-keyboard-2-512.png" style="width: 140px; height: 140px; 
                        border-radius: 50%; margin-left: 27px; margin-top: 3px;">
                      </div>
                <div class="sidebar-logo">
                  User_Name
                </div>
                <ul class="sidebar-navigation">
        
                    <li class="header">DashBoard</li>
                    <li><a [routerLink]="['/userhome']">
                          <i class="fa fa-home" aria-hidden="true"></i> Home
                          </a>
                      </li>
                    <li>
                      <a  [routerLink]="['/userhome/project-details']">
                        <i class="fa fa-home" aria-hidden="true"></i> Project_Details
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/userhome/view-task']">
                        <i class="fa fa-tachometer" aria-hidden="true"></i> Task_Details
                      </a>
                    </li>
                    
                    <li>
                      <a [routerLink]="['/userhome/view-team']">
                        <i class="fa fa-users" aria-hidden="true"></i> Team_Details
                      </a>
                    </li>
                    <li>
                        <a [routerLink]="['/userhome/update-profile']">
                          <i class="fa fa-users" aria-hidden="true"></i>Update_Profile
                        </a>
                      </li>
                      <li>
                          <a [routerLink]="['/home']">
                            <i class="fa fa-users" aria-hidden="true"></i>LogOut
                          </a>
                        </li>
                  </ul>
                </div>
                </div>
                <div class="col-9">
    <div class="row">


    </div>
    <div class="row">
        <div class="col-8">
        <div class="formheader border-primary">
            <h4 class="card-header bg-warning text-dark text-center">Update Task</h4>
            <div class="formbody">
                
                </div>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>