<div class="image">
    <div class="row">
      <div class="col-3">
      <div class="sidebar-container">
          <div class="sidebar-img">
              <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/05/GettyImages-1144499197-620x394.jpg" style="width: 140px; height: 140px; 
              border-radius: 50%; margin-left: 27px; margin-top: 3px;">
            </div>
      <div class="sidebar-logo">
        Hello ! {{user}}
      </div>
      <ul class="sidebar-navigation">
        
        <li class="header">DashBoard</li>
        <li><a>
              <i class="fa fa-home" aria-hidden="true"></i> Home
              </a>
          </li>
        <li>
          <a  [routerLink]="['/usercomponents/viewprojectdetails']">
            <i class="fa fa-home" aria-hidden="true"></i> Project-Details
          </a>
        </li>
        <li>
          <a [routerLink]="['/usercomponents/viewtasklist']">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Task_Details
          </a>
        </li>
        
        <li>
          <a [routerLink]="['/usercomponents/viewteamslist']">
            <i class="fa fa-users" aria-hidden="true"></i> Teams
          </a>
        </li>
        <li>
            <a data-toggle="modal" data-target="#updateModal">
              <i class="fa fa-users" aria-hidden="true"></i>Update_Profile
            </a>
          </li>
          <li>
              <a [routerLink]="['/home']">
                <i class="fa fa-users" aria-hidden="true"></i>LogOut
              </a>
            </li>
      </ul>
      </div>
      </div>
    
    <div class="col-9">
      
      <div class="row">
       
      <div class="col-4">
        
        <div class="row">
          <div class="col-6">
          <h2> Developer-Name: </h4>
        </div>
        <div class="col-6"><h3>{{user.username}}</h3></div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        
          <div class="row">
            <div class="col-6">
            <h2> Email: </h4>
          </div>
          <div class="col-6"><h3>{{user.email}}</h3></div>
          </div>
        </div>


      </div>
      <div class="row"><br><br></div>
      <div class="row">
       
          <div class="col-4">
            
            <div class="row">
              <div class="col-6">
              <h2> Location : </h4>
            </div>
            <div class="col-6"><h3>{{user.ulocation}}</h3></div>
            </div>
          </div>
          <div class="col-2"></div>
          <div class="col-4">
            
              <div class="row">
                <div class="col-6">
                <h2> Domain : </h4>
              </div>
              <div class="col-6"><h3>{{user.udomain}}</h3></div>
              </div>
            </div>
          </div>

          <div class="row"><br><br></div>
          <div class="row">
           
              <div class="col-4">
                
                <div class="row">
                  <div class="col-6">
                  <h2> Availability : </h4>
                </div>
                <div class="col-6"><h3>{{user.availability}}</h3></div>
                </div>
              </div>
              <div class="col-2"></div>
              <div class="col-4">
                
                  <div class="row">
                      <div class="col-6">
                      <h2> Manager : </h4>
                    </div>
                    <div class="col-6"><h3>{{manager.username}}</h3></div>
                    </div>
             </div>

  </div>

  <div class="row"><br><br></div>
  <div class="row">
   
      <div class="col-4">
        
        <div class="row">
          <div class="col-6">
          <h2> Current-Project : </h4>
        </div>
        <div class="col-6"><h3>{{project.pname}}</h3></div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        
          <div class="row">
              <div class="col-6">
              <h2> Current-Task : </h4>
            </div>
            <div class="col-6"><h3>{{task.taskName}}</h3></div>
            </div>
     </div>

</div>



  
  </div>
  </div>




  <!-- Update-Profile-Modal -->
