
        <div class="image">
            <div class="row">
              <div class="col-3">
              <div class="sidebar-container">
                  <div class="sidebar-img">
                      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/05/GettyImages-1144499197-620x394.jpg" style="width: 140px; height: 140px; 
                      border-radius: 50%; margin-left: 27px; margin-top: 3px;">
                    </div>
              <div class="sidebar-logo">
                Manager-{{manager}}
              </div>
              <ul class="sidebar-navigation">
                
                <li class="header">DashBoard</li>
                <li><a>
                      <i class="fa fa-home" aria-hidden="true"></i> Home
                      </a>
                  </li>
                  <li>
                    <a  [routerLink]="['/taskService/add']">
                      <i class="fa fa-home" aria-hidden="true"></i> Add-Task
                    </a>
                  </li>
                <li>
                  <a  [routerLink]="['/taskService/view']">
                    <i class="fa fa-home" aria-hidden="true"></i> Task-List
                </a>
                </li>
                <li>
                  <a [routerLink]="['/teamService/add']">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>Add-TeamMember
                  </a>
                </li>
                
                <li>
                  <a [routerLink]="['/teamService/view']">
                    <i class="fa fa-users" aria-hidden="true"></i>TeamMememberList
                  </a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#updateModal">
                      Update_Profile
                    </a>
                  </li>
                  <li>
                      <a [routerLink]="['/home']">
                        <i class="fa fa-users" aria-hidden="true"></i>LogOut
                      </a>
                    </li>
              </ul>
              </div>
              </div>

            <div class="col-9">

              <div class="row bg-info" style="border-radius: 40px;"><br>
                <h1 class="text-center text-white" style="margin-left: 380px">Hello ! {{manager}}</h1>


              </div>




            </div>

            </div>
            </div>


            <!-- Update Modal -->
            <!-- The Modal -->
<div class="modal" id="updateModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center">Update-Profile</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" style="display: none">Close</button>
        </div>
  
      </div>
    </div>
  </div>
