<body>
    <div class="container">
        <div>
            <h1 class="bg-secondary">ADD NEW TEAM</h1>
                <form [formGroup]="newTeamForm" (ngSubmit)="submit()" novalidate>
                    <div class="form-group">
                    <label for="ufirstName">FirstName:</label>
                    <input type="text" formControlName="ufirstName" class="form-control" id="ufirstName" aria-describedby="ufirstName" placeholder="Enter firstname">
                    </div>
                    <div class="form-group">
                        <label for="ulastName">LastName:</label>
                        <input type="text" formControlName="ulastName" class="form-control" id="ulastName" aria-describedby="ulastName" placeholder="Enter lastname">
                    </div>
                    <div class="form-group">
                        <label for="uemail">Email:</label>
                        <input type="email" formControlName="uemail" class="form-control" id="uemail" aria-describedby="uemail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="ustatus">Status:</label>
                        <input type="text" formControlName="ustatus" class="form-control" id="ustatus" aria-describedby="ustatus" placeholder="Enter status">
                    </div>
                    <div class="form-group">
                        <label for="uassigndate">Assigndate:</label>
                        <input type="text" formControlName="uassigndate" class="form-control" id="uassigndate" aria-describedby="uassigndate" placeholder="Enter Assigndate">
                    </div>
                <input type="submit" class="btn btn-primary" value="Add Team" />
            </form>
        </div>
    </div>
</body>
