<body>
    <div class="container-fluid image">
        <div class="row">
        <div class="col-3">
           
                <div class="sidebar-container">
                        <div class="sidebar-img">
                            <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2019/05/GettyImages-1144499197-620x394.jpg" style="width: 140px; height: 140px; 
                            border-radius: 50%; margin-left: 27px; margin-top: 3px;">
                          </div>
                    <div class="sidebar-logo">
                    Manager-{{manager}}
                    </div>
                    <ul class="sidebar-navigation">
                          
                      <li class="header">DashBoard</li>
                      <li><a>
                            <i class="fa fa-home" aria-hidden="true"></i> Home
                            </a>
                        </li>
                        <li>
                          <a  [routerLink]="['/taskService/add']">
                            <i class="fa fa-home" aria-hidden="true"></i> Add-Task
                          </a>
                        </li>
                      <li>
                        <a  [routerLink]="['/taskService/view']">
                          <i class="fa fa-home" aria-hidden="true"></i> Task-List
                      </a>
                      </li>
                      <li>
                        <a [routerLink]="['/teamService/add']">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>Add-TeamMember
                        </a>
                      </li>
                      
                      <li>
                        <a [routerLink]="['/teamService/view']">
                          <i class="fa fa-users" aria-hidden="true"></i>TeamMememberList
                        </a>
                      </li>
                      <li>
                          <a [routerLink]="['/updateprofile']">
                            <i class="fa fa-users" aria-hidden="true"></i>Update_Profile
                          </a>
                        </li>
                        <li>
                            <a [routerLink]="['/home']">
                              <i class="fa fa-users" aria-hidden="true"></i>LogOut
                            </a>
                          </li>
                    </ul>
                   
                    </div>

        </div>

        <div class="col-9">
            
                <h1 class="bg-danger text-center text-white">ADD NEW TEAM</h1>
                <form [formGroup]="newTeamForm" (ngSubmit)="submit()" novalidate>
                    <div class="form-group">
                    <label for="ufirstName">FirstName:</label>
                    <input type="text" formControlName="ufirstName" class="form-control" id="ufirstName" aria-describedby="ufirstName" placeholder="Enter firstname">
                    </div>
                    <div class="form-group">
                        <label for="ulastName">LastName:</label>
                        <input type="text" formControlName="ulastName" class="form-control" id="ulastName" aria-describedby="ulastName" placeholder="Enter lastname">
                    </div>
                    <div class=" row form-group">
                        <div class="col-5">
                        <label for="uemail">Email:</label>
                        <select formControlName="uemail" class="form-control" id="uemail" aria-placeholder="Email">
                            <option *ngFor="let name of uNames" [ngValue]="name.email">
                                {{ name.email }}
                            </option>
                        </select>
                        </div><br>
                    </div>
                    <div class="form-group">
                        <label for="ustatus">Status:</label>
                        <input type="text" formControlName="ustatus" class="form-control" id="ustatus" aria-describedby="ustatus" placeholder="Enter status">
                    </div>
                    <div class="form-group">
                        <label for="uassigndate">Assigndate:</label>
                        <input type="text" formControlName="uassigndate" class="form-control" id="uassigndate" aria-describedby="uassigndate" placeholder="Enter Assigndate">
                    </div>
                <input type="submit" class="btn btn-primary" value="Add Team" />
            </form>

        </div>
    </div>
    </div>
</body>
