<div class="container">
    <form [formGroup]="form" class="addForm" (ngSubmit)="add()">
<mat-grid-list cols='2' rowHieght="300px">
    <mat-grid-tile>
      <div class="control-form">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
         <input matInput formControlName="name" placeholder="Full-Name">
          </mat-form-field>
          <mat-form-field>
         <input matInput formControlName="matches" placeholder="Matches">
         </mat-form-field>
         <mat-form-field>
            <input matInput formControlName="runs" placeholder="Runs">
        </mat-form-field>
      </div>
    </mat-grid-tile>
   
    <mat-grid-tile>
        <div class="control">
            <mat-form-field>
                <input matInput formControlName="wickets" placeholder="Wickets">
            </mat-form-field>
            <mat-form-field>
                    <input matInput formControlName="highScore" placeholder="High-Score">
            </mat-form-field>
            
                <button type="submit"mat-raised-button color="accent">Add-Player</button> 
               
        </div>
    </mat-grid-tile>
</mat-grid-list>
    </form>
</div>
