<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="container">

<form action="#"  th:action="@{/thym/update}" th:object="${user}" method="POST">
<input type="hidden" th:field="${user.id}" />
<input type="hidden" th:field="${user.user_id}" />
<input th:field="${user.fname}" class="form-control mb-4 col-4" placeholder="First-Name" />
<input th:field="${user.lname}" class="form-control mb-4 col-4" placeholder="Last-Name" />
<input th:field="${user.email}" class="form-control mb-4 col-4" placeholder="Email" />
<input th:field="${user.password}" class="form-control mb-4 col-4" placeholder="Password" />
<input type="submit" class="btn btn-success" value="submit" />
</form>

</div>

</body>
</html>